.card-app-modal-container {
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-app-modal-box {
  background: #fff;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.card-app-modal-box p {
  text-align: center;
}

.card-app-modal-box svg {
  color: #fff;
  background-color: rgb(39, 122, 39);
  padding: 15px;
  font-size: 30px;
  border-radius: 50%;
}

.card-app-modal-container button {
  padding: 10px 30px;
  background: #428f96;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-family: "Dana-Bold";
}
