.card-app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(to right, #e4cc92, #a8e1da);
}

.card-app-container input {
  padding: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  box-shadow: 0 2px 10px #ddd;
}

.card-app-card-numbers {
  display: flex;
  gap: 10px;
}

.card-app-card-numbers input {
  width: 100%;
  text-align: center;
}

.card-app-container select {
  padding: 10px;
  text-align: center;
  width: 80px;
  margin: 2px;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  box-shadow: 0 2px 10px #ddd;
}

.card-app-container form {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-top: -130px;
  padding: 150px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 500px;
}

.card-app-extra-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-app-container button {
  padding: 10px;
  background: #428f96;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-family: "Dana-Bold";
}

@media (max-width: 550px) {
  .card-app-container form {
    width: 80%;
  }
  .card-app-extra-inputs {
    justify-content: center;
    gap: 10px;
  }
}
